main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
  }
  
  #containerPrincipal {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #containerPrincipal {
    background-color: #333;
  }
  
  #h1Principal {
    color: white;
  }
  
  #resultado {
    color: #ccc;
  }
  
  .input-field {
    background-color: #666;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
  }
  
  #labelNombre,
  #labelNacionalidad {
    color: white;
    margin: 30px;
  }
  
  button {
    background-color: #666;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
  }
  
  button span {
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color: #999;
  }